
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #D7E4F3;
  }

  button {
    cursor: pointer;
  }

  #root {
    height: 100%;
  }

  .Toastify__toast {
    font-size: 14px;
  }


  .site-page-header {
    border: 1px solid rgb(235, 237, 240);
  }

